
$control-color: #f5f5f5;

$light-color: #757575;

.ds-button-tall {
  height: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.ds-textfield {

  &.v-input-group--multi-line label {
    margin-top: 6px;
  }

  > label {
    margin: 6px 8px;
  }

  .v-input-group__input input {
    background-color: $control-color;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 40px;
    padding: 10px;
  }

  .v-input-group__input textarea {
    background-color: $control-color;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 10px;
  }

  .v-input-group__details::before {
    background-color: $control-color !important;
  }

  &.inline {
    width: auto;
    display: inline-block !important;
    margin-left: 6px;
    margin-right: 6px;
    top: 14px;
    padding-top: 0px;
    margin-top: -14px;

    &.small {
      width: 60px;
    }
  }
}

.ds-dropdown {

  .v-input-group__input {
    background-color: $control-color;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    height: 40px;
    padding: 10px;
  }

  .v-input-group__details::before {
    background-color: $control-color !important;
  }
}

.ds-button {
  background-color: $control-color !important;
  height: 40px;

  &.push-down {
    margin-top: 18px;
  }
}

.ds-light-forecolor {
  color: $light-color !important;
}

.ds-fullscreen {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-height: auto !important;
  max-width: 100% !important;
  min-width: 100% !important;

  > * {
    height: 100%;
  }
}
